@import url('../../index.css');

.container-about .about-header h1{
font-family: 'Playfair Display';
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #000000;
max-width: 1200px;
margin: 0 auto;
margin-top: 64px;
}

.container-about .about-header p{
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #424159;
max-width: 920px;
margin: 0 auto;
margin-top: 64px;
}